@use "../bootstrap/bootstrap.scss";

.main-footer {
  background-color: var(--main-text);
  color: white;
  padding: 37px 23px 13px;
  border-radius: 16px 16px 0 0;

  @media (min-width: bootstrap.$desktop) {
    display: grid;
    gap: 28px 58px;
    grid-template-columns: 822px 1fr;
  }

  &__row {
    margin-bottom: 32px;
    @media (min-width: bootstrap.$tablet) {
      display: flex;
      justify-content: space-between;
      padding-right: 100px;
      margin-bottom: 32px;
    }
    @media (min-width: bootstrap.$desktop) {
      margin-bottom: 0;
    }
  }
}

.all-right-reserved {
  text-align: right;
  color: #9b9591;
  margin: 0;
}

.footer-links {
  & + & {
    margin-top: 64px;
    @media (min-width: bootstrap.$tablet) {
      margin-top: 0;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    color: #6f6f6f;
  }
}

.footer-links-list {
  &__item {
    & > a {
      color: white;
      text-decoration: none;
      font-size: 16px;
      line-height: 1.2;
    }
  }
}
