@use "../bootstrap/bootstrap.scss";

.main-nav {
  overflow-y: scroll;
  margin-bottom: 32px;
  width: 100%;

  @media (min-width: bootstrap.$desktop) {
    max-width: 80%;
    width: auto;
    margin-bottom: none;
  }
}
