@use "../../styles/bootstrap/bootstrap.scss";

.main-nav-link {
  color: var(--text-color);
  font-size: 22px;
  /* stylelint-disable-next-line color-function-notation */
  border-bottom: 1px solid rgba(bootstrap.$text-color, 0.3);
}
