@use "../bootstrap/bootstrap.scss";

.main-page {
  padding: 0 24px;
  width: 100%;

  @media (min-width: bootstrap.$desktop) {
    width: 1440px;
    margin: 0 auto;
  }

  &__livechat {
    position: absolute;
    bottom: 10px;
    right: 5px;
  }
}
