@use "../bootstrap/bootstrap.scss";

.promo {
  background-color: #fff;
  border: 1px solid #e2e0df;
  border-radius: 16px;
  background-image: url("../../assets/images/promo.jpg");
  padding: 20px;
  background-repeat: no-repeat;
  background-position: right top;
  position: relative;
  background-size: cover;

  @media (min-width: bootstrap.$desktop) {
    padding: 131px 75px 140px;
    background-size: contain;
  }

  &::before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
    /* stylelint-disable-next-line alpha-value-notation */
    background-color: rgba(255, 255, 255, 0.5);

    @media (min-width: bootstrap.$desktop) {
      background-image: linear-gradient(
        90deg,
        #fff 7.65%,
        rgb(255 255 255 / 92%) 23.96%,
        rgb(255 255 255 / 0%) 73.83%
      );
      width: 853px;
    }
  }

  &__content {
    z-index: 1;
    position: relative;

    @media (min-width: bootstrap.$desktop) {
      width: 600px;
    }

    & > p {
      font-weight: 400;
      font-size: 22px;
      line-height: 1.2;
      padding-right: 30px;
      margin-bottom: 65px;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 35px;
    line-height: 42px;
    margin-top: 0;
    color: var(--text-color);
    margin-bottom: 40px;
  }
}
