@use "../../styles/bootstrap/bootstrap.scss";

.slide {
  padding: 20px;
  border-radius: 16px;
  background: linear-gradient(
    90.36deg,
    #1f2670 29.82%,
    rgb(39 48 139 / 0%) 99.68%
  );
  color: white;
  position: relative;
  overflow: hidden;

  @media (min-width: bootstrap.$desktop) {
    padding: 200px 96px 83px;
  }

  &__content {
    @media (min-width: bootstrap.$desktop) {
      width: 582px;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.21;
    letter-spacing: -0.3px;

    @media (min-width: bootstrap.$desktop) {
      font-size: 46px;
      margin-bottom: 114px;
    }
  }

  &__image-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    height: 100%;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      background-image: linear-gradient(
        110.67deg,
        rgb(54 68 196 / 74%) 12.49%,
        rgb(49 59 152 / 51%) 84.84%
      );
    }
  }

  &__image {
    height: 100%;
    object-fit: cover;
  }
}
