@use "../../styles/bootstrap/bootstrap.scss";

.subscription-form {
  display: flex;
  position: relative;
  background: #1b1b1b;
  border-radius: 11px;
  border: 3px solid #1b1b1b;
  flex-wrap: wrap;

  &__input {
    flex: 1;
    padding: 13px 20px;
    border: none;
    background-color: transparent;
    color: var(--main-text);
    color: white;

    &::placeholder {
      color: #C4C4C4;
    }

    &:focus-visible {
      outline: 2px solid #0079c1;
      outline-offset: 2px;
      filter: drop-shadow(0 4px 16px rgb(0 92 147 / 20%));
    }

    &:focus {
      @supports not selector(:focus-visible) {
        outline: 2px solid #0079c1;
        outline-offset: 2px;
        filter: drop-shadow(0 4px 16px rgb(0 92 147 / 20%));
      }
    }
  }

  &__button {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    cursor: pointer;
    transition: opacity 0.2s ease-in 0s;
    border-radius: 8px;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    padding: 16px 33.5px;
    width: 100%;

    @media (min-width: bootstrap.$tablet) {
      width: auto;
    }

    &:hover {
      opacity: 0.7;
    }

    &:focus-visible {
      outline: 2px solid #0079c1;
      outline-offset: 2px;
    }

    &:focus {
      @supports not selector(:focus-visible) {
        outline: 2px solid #0079c1;
        outline-offset: 2px;
      }
    }
  }
}
